/*---Page colors---*/

$body-color: #777;
$primary-color: #58e1c1;
$secondary-color: #51ddfc;
$white: #fff;
$image-border-color: #ccc;
$hover-color: orange;


/*---Button-colors---*/

$default-btn: #51ddfc;
$error-btn: #e4757a;
$info-btn: #927bc1;
$success-btn: #63cc82;
$warning-btn: #fd7856;

/*---Media Query Breakpoints---*/

$break-narrow: "(min-width: 768px)";
$max-width: 1140px;

/*---Fonts---*/

$base-font:'Lato', sans-serif;