/*---Buttons---*/

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    &:hover {
      background: lighten( $hover-color, 20% );
      transition: .6s ease-in-out;
      color: purple;
      font-weight: 700;
    }
  }
  
  .default {
    background-color: $default-btn;
  }
  
  .error {
    background-color: $error-btn;
  }
  
  .info {
    background-color: $info-btn;
  }
  
  .success {
    background-color: $success-btn;
  }
  
  .warning {
    background-color: $warning-btn;
  }